<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Squadre</title>
    </head>
    <body>

        <h1>Squadre</h1>

        <p
            th:if="${errore}"
            th:text="${errore}"
            style="color: red;">

            Impossibile eliminare la squadra.

        </p>

        <div th:if="${isAdmin}">
            <a th:href="@{/admin/squadra/form}">
                Inserisci nuova squadra
            </a>
        </div>

        <a th:href="@{/}">Home</a>

         <p th:if="${#lists.isEmpty(squadre)}">
            Non ci sono squadre.
        </p>

        <ul th:unless="${#lists.isEmpty(squadre)}">
            <li th:each="squadra : ${squadre}">
                <a th:href="@{/squadre/{id}(id=${squadra.id})}"
                th:text="${squadra.nome} + ' - ' + ${squadra.citta}">
                </a>
            </li>
        </ul>

    </body>
</html>