<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista tornei</title>
</head>

<body>

    <h1>Tornei</h1>

    <div th:if="${isAdmin}">
        <a th:href="@{/admin/torneo/form}">
            Crea nuovo torneo
        </a>
    </div>

    <br>

    <ul>
        <li th:each="torneo : ${tornei}">

            <a th:href="@{/tornei/{id}(id=${torneo.id})}"
               th:text="${torneo.nome} + ' - ' + ${torneo.anno}">
                Torneo
            </a>

        </li>
    </ul>

    <a th:href="@{/}">
        Torna alla Home
    </a>

</body>

</html>